<a href="https://colab.research.google.com/github/RahmanMonty/Unemployment/blob/master/Unemployment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import altair as alt
import seaborn as sns ; sns.set()

In [0]:
# As the CoronaVirus keeps many of us in quarantine and isolation, a lot of jobs that are considered non-essential restricts us
# from going to work and getting paid. As this problem continues, the nation is experiencing higher then usual unemployment claims. This project
# will explore the populations of states that have applied for unemployment benefits, the unique pay that each state offers, and how they compare
# to one another.

In [0]:
df = pd.read_csv("State Unemployment Data.csv")
df2 = pd.read_csv("Unemployment Max Pay.csv",encoding='latin1')

In [0]:
df.head()

In [0]:
df2[["State","Max.Weekly Benefits","Max. DA Allowance"]].head()

In [0]:
#Because some of the Max. DA Allowance does not have values present we will use the fillna method to fill them with zeros
df2.fillna(0)

In [14]:
# Here we want to determine the actual number of unemployed individual of the states population 
# and add it to our data frame that wasn't originally in the CSV file.
df["Unemployed"] = df["Pop"] * df["unemploymentRate"]
df.head()

            State  unemploymentRateRank  unemploymentRate      Pop  Unemployed
0  South Carolina                     1             0.023  5210095  119832.185
1            Utah                     1             0.023  3282115   75488.645
2         Vermont                     1             0.023   628061   14445.403
3    North Dakota                     4             0.024   761723   18281.352
4        Colorado                     5             0.025  5845526  146138.150

In [0]:
df.tail()

In [0]:
# Now we will combine the two data frames to get an easier look at the data

join = pd.concat([df,df2[["Max.Weekly Benefits"]]], axis = 1)
join.head(50)

In [0]:
# In order to find the states that spend the most money on its citizens we must remove the $ sign from the Weekly Benefits Column
# So that we can do some manipulation of the data frames
join['Max.Weekly Benefits'] = join['Max.Weekly Benefits'].str.replace(',', '').str.replace('$', '').astype(int)

In [0]:
#Now with the data frames combined we can see which state pays the largest amount of unemployment to its citizens!
join["Most Money"] = join["Unemployed"] * join["Max.Weekly Benefits"]
join[["State", "Unemployed", "Max.Weekly Benefits", "Most Money"]]

In [19]:
# From this data we can see that California, Texas, and New York pay out the most unemployment to their citizens
# Taking into consideration the states population and the benefits they offer.
LuckyPeople = join.nlargest(5, "Most Money")
LuckyPeople[["State", "Unemployed", "Max.Weekly Benefits", "Most Money"]]

             State   Unemployed  Max.Weekly Benefits    Most Money
35      California  1557562.071                  598  9.314221e+08
26           Texas  1031530.325                  487  5.023553e+08
38        New York   777618.760                  561  4.362441e+08
39            Ohio   493403.148                  566  2.792662e+08
31  North Carolina   392638.894                  696  2.732767e+08

In [0]:
LuckyPeople1 = LuckyPeople.nsmallest(10, "Most Money")

In [0]:
plt.figure(figsize=(10,10))
ax = sns.scatterplot(x = "State", y = "Most Money", data = LuckyPeople1, s =100 )

ax

In [0]:
join.describe()

In [0]:
#Due to the unavailabillity of state by state unemployment demographics I will be utilizing national 
#data to reflects each states unemployment demographic payout.

df3 = pd.read_csv("EPI Data Library - Unemployment.csv")

In [4]:
#Since Febuary is the most recent month, these percentages will be used to determine 
df3.head()

     Date    All  Black Hispanic  White
0  Feb-20  3.60%  6.00%    4.30%  3.00%
1  Jan-20  3.60%  6.00%    4.30%  3.00%
2  Dec-19  3.70%  6.10%    4.30%  3.00%
3  Nov-19  3.70%  6.10%    4.30%  3.10%
4  Oct-19  3.70%  6.20%    4.30%  3.10%

In [38]:
unemployed = join[["State", "Unemployed"]]
unemployed.head()

            State  Unemployed
0  South Carolina  119832.185
1            Utah   75488.645
2         Vermont   14445.403
3    North Dakota   18281.352
4        Colorado  146138.150

In [0]:
df4= pd.read_csv("State Demographics.csv", encoding='latin1')
df4.head()
# df4["State", "Hispanic (of any race)", "Non-Hispanic White", "Non-Hispanic Black"]

In [0]:
df4[["State", "Hispanic (of any race)", "Non-Hispanic White", "Non-Hispanic Black"]]

In [65]:
#Utilizing the national unemployment numbers published by the economic policy institute for February 2020 I was able to 
# determine the number of unemployed members of each state for the demographics of black, hispanics, and white.
# We will be measuring these figures of the highest unemployment paying states. (North Carolina, Ohio, California, Texas, New York)

unemployed["African American UE"] = unemployed["Unemployed"] * .06
unemployed["Hispanic UE"] = unemployed["Unemployed"] * .043
unemployed["White UE"] = unemployed["Unemployed"] * .03
unemployed

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                   State   Unemployed  ...   Hispanic UE     White UE
0         South Carolina   119832.185  ...   5152.783955   3594.96555
1                   Utah    75488.645  ...   3246.011735   2264.65935
2                Vermont    14445.403  ...    621.152329    433.36209
3           North Dakota    18281.352  ...    786.098136    548.44056
4               Colorado   146138.150  ...   6283.940450   4384.14450
5                 Hawaii    36729.862  ...   1579.384066   1101.89586
6          New Hampshire    35652.396  ...   1533.053028   1069.57188
7               Virginia   224281.382  ...   9644.099426   6728.44146
8                Alabama   127624.146  ...   5487.838278   3828.72438
9                   Iowa    82676.074  ...   3555.071182   2480.28222
10         Massachusetts   195344.716  ...   8399.822788   5860.34148
11                 Idaho    52958.524  ...   2277.216532   1588.75572
12                 Maine    39027.910  ...   1678.200130   1170.83730
13               Florida   659789.550  ...  28370.950650  19793.68650
14              Nebraska    60529.670  ...   2602.775810   1815.89010
15               Georgia   343553.888  ...  14772.817184  10306.61664
16               Indiana   215851.328  ...   9281.607104   6475.53984
17                Kansas    93131.424  ...   4004.651232   2793.94272
18          South Dakota    28896.864  ...   1242.565152    866.90592
19             Minnesota   188122.143  ...   8089.252149   5643.66429
20             Tennessee   227620.008  ...   9787.660344   6828.60024
21               Montana    36949.806  ...   1588.841658   1108.49418
22              Oklahoma   134463.914  ...   5781.948302   4033.91742
23             Wisconsin   198959.636  ...   8555.264348   5968.78908
24              Maryland   212909.060  ...   9155.089580   6387.27180
25            New Jersey   312780.090  ...  13449.543870   9383.40270
26                 Texas  1031530.325  ...  44355.803975  30945.90975
27              Arkansas   109403.964  ...   4704.370452   3282.11892
28              Missouri   203585.910  ...   8754.194130   6107.57730
29           Connecticut   131833.849  ...   5668.855507   3955.01547
30              Illinois   468408.234  ...  20141.554062  14052.24702
31        North Carolina   392638.894  ...  16883.472442  11779.16682
32                Oregon   159140.293  ...   6843.032599   4774.20879
33               Wyoming    20979.925  ...    902.136775    629.39775
34                Nevada   119307.004  ...   5130.201172   3579.21012
35            California  1557562.071  ...  66975.169053  46726.86213
36              Delaware    38332.905  ...   1648.314915   1149.98715
37              Michigan   391756.131  ...  16845.513633  11752.68393
38              New York   777618.760  ...  33437.606680  23328.56280
39                  Ohio   493403.148  ...  21216.335364  14802.09444
40              Kentucky   193486.756  ...   8319.930508   5804.60268
41            Washington   335275.085  ...  14416.828655  10058.25255
42          Pennsylvania   576939.510  ...  24808.398930  17308.18530
43               Arizona   339410.724  ...  14594.661132  10182.32172
44            New Mexico    98542.080  ...   4237.309440   2956.26240
45             Louisiana   227614.016  ...   9787.402688   6828.42048
46         West Virginia    88903.500  ...   3822.850500   2667.10500
47  District of Columbia    38196.411  ...   1642.445673   1145.89233
48           Mississippi   170387.820  ...   7326.676260   5111.63460
49                Alaska    44774.122  ...   1925.287246   1343.22366
50                   NaN          NaN  ...           NaN          NaN

[51 rows x 5 columns]